<!DOCTYPE html>
<html>
<head>
    <title>Guardian AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div id="loginScreen">

    <h1>GUARDIAN AI</h1>

    <p>Authentication Required</p>

    <input
        type="password"
        id="password"
        placeholder="Enter Access Code">

    <br><br>

    <button onclick="authenticate()">
        Unlock Guardian
    </button>

</div>

<div class="container" id="mainApp" style="display:none;">

    <div class="background-effects">
        <div class="grid"></div>
        <div class="scanline"></div>
    </div>

    <div class="header">
        <div class="orb"></div>

        <h1>GUARDIAN AI</h1>

        <h3>Created by Kirthik</h3>

        <p class="powered">Powered by Groq AI</p>

        <p id="status">🟢 Guardian Online</p>

        <p class="welcome" id="welcomeText"></p>

        <div id="hud">

            <div>🕒 <span id="clock"></span></div>

            <div>🌐 <span id="internetStatus">Checking...</span></div>

            <div>🧠 Hybrid Brain</div>

            <div>💬 <span id="conversationCount">0</span> Chats</div>

            <div>⏱ <span id="uptime">0m 0s</span></div>

            <div>🎤 Ready</div>

       </div>

        <div class="status-bar">
            <span class="badge">🟢 Online</span>
            <span class="badge">🎤 Voice Ready</span>
            <span class="badge">🧠 Memory</span>
            <span class="badge">⚡ Groq</span>
        </div>

        <div class="input-area">

            <input
                type="text"
                id="message"
                placeholder="Ask Guardian anything...">

            <button id="sendBtn" onclick="sendMessage()">➤</button>

            <button onclick="startListening()">🎤</button>

        </div>

        <div id="chat"></div>

    </div>

</div>

<script>

let isThinking = false;
let conversationCount = 0;

function sendMessage() {

    if (isThinking) return;

    let message = document.getElementById("message").value.trim();

    if (message === "") return;

    isThinking = true;

    let sendBtn = document.getElementById("sendBtn");
    let chat = document.getElementById("chat");
    let orb = document.querySelector(".orb");

    sendBtn.disabled = true;
    sendBtn.innerText = "Thinking...";

    document.getElementById("status").innerHTML = "🟡 Guardian Thinking...";
    orb.classList.add("thinking");

    fetch("/chat", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            message: message
        })
    })

    .then(response => response.json())

    .then(data => {
        conversationCount++;

        document.getElementById("conversationCount").innerHTML =
        conversationCount;

        chat.innerHTML += `
            <div class="user-message">
                <strong>👤 You</strong><br>
                <span>${message}</span>
            </div>

            <div class="bot-message">
                <strong>🤖 Guardian</strong><br>
                <span id="botReply"></span>
            </div>
        `;

        scrollChat();

        orb.classList.remove("thinking");
        orb.classList.add("speaking");

        document.getElementById("status").innerHTML = "🔊 Guardian Speaking...";

        typeReply(data.reply);

        document.getElementById("message").value = "";

        sendBtn.disabled = false;
        sendBtn.innerText = "➤";
        isThinking = false;

    })

    .catch(error => {

        console.log(error);

        orb.classList.remove("thinking");

        document.getElementById("status").innerHTML = "🔴 Error";

        sendBtn.disabled = false;
        sendBtn.innerText = "➤";

        isThinking = false;

    });

}
document.getElementById("message").addEventListener("keypress",function(e){

    if(e.key==="Enter"){

        e.preventDefault();

        sendMessage();

    }

});

function speak(text){

    window.speechSynthesis.cancel();

    let speech=new SpeechSynthesisUtterance(text);

    speech.lang="en-US";

    speech.rate=1;

    speech.pitch=1;

    speech.volume=1;

    window.speechSynthesis.speak(speech);

}

function startListening(){

    const recognition=new(window.SpeechRecognition||window.webkitSpeechRecognition)();

    recognition.lang="en-US";

    recognition.start();

    recognition.onresult=function(event){

        document.getElementById("message").value=
        event.results[0][0].transcript;

        sendMessage();

    };

}

function typeReply(text) {

    let replyBox = document.getElementById("botReply");

    let index = 0;

    let typing = setInterval(() => {

        replyBox.innerHTML = text.substring(0, index + 1) + "<span class='cursor'>|</span>";

        index++;

        scrollChat();

        if(index >= text.length){

            clearInterval(typing);

            replyBox.innerHTML = text;

            speak(text);

        }

    },25);

}

function scrollChat(){

    let chat=document.getElementById("chat");

    chat.scrollTo({

        top:chat.scrollHeight,

        behavior:"smooth"

    });

}

function authenticate(){

    let password =
    document.getElementById("password").value;

    if(password==="231109"){
        const login = document.getElementById("loginScreen");
    login.innerHTML = `
        <h1>GUARDIAN AI</h1>
        <h2 id="bootText">Authenticating...</h2>
        <div class="boot-bar">
            <div class="boot-fill"></div>
        </div>

    `;
    setTimeout(()=>{
        document.getElementById("bootText").innerHTML="✓ Identity Verified";
        },1000);

    setTimeout(()=>{
        document.getElementById("bootText").innerHTML="Loading Guardian Core...";
    },2000);

    setTimeout(()=>{
        document.getElementById("bootText").innerHTML="✓ Voice System Ready";
    },3000);

    setTimeout(()=>{
        document.getElementById("bootText").innerHTML="Welcome back, Sir.";
    },4000);

    setTimeout(()=>{
        login.style.display="none";
        document.getElementById("mainApp").style.display="block";
    },5000);

    }

    else{

        alert("Wrong Access Code");

    }

}

function updateHUD(){

    let now = new Date();

    document.getElementById("clock").innerHTML =
        now.toLocaleTimeString();

    document.getElementById("internetStatus").innerHTML =
        navigator.onLine ? "Online" : "Offline";

}

setInterval(updateHUD,1000);

updateHUD();

function updateGreeting(){

    let hour = new Date().getHours();

    let greeting = "";

    if(hour < 12){

        greeting = "🌅 Good Morning, Sir.";

    }

    else if(hour < 17){

        greeting = "☀️ Good Afternoon, Sir.";

    }

    else if(hour < 21){

        greeting = "🌇 Good Evening, Sir.";

    }

    else{

        greeting = "🌙 Good Night, Sir.";

    }

    document.getElementById("welcomeText").innerHTML = greeting;

}

updateGreeting();

window.addEventListener("online", () => {

    document.getElementById("internetStatus").innerHTML = "Online";

});

window.addEventListener("offline", () => {

    document.getElementById("internetStatus").innerHTML = "Offline";

});

const startTime = Date.now();

function updateUptime(){

    let seconds =
    Math.floor((Date.now()-startTime)/1000);

    let mins = Math.floor(seconds/60);

    seconds %=60;

    document.getElementById("uptime").innerHTML =
    mins+"m "+seconds+"s";

}

setInterval(updateUptime,1000);

</script>

</body>
</html>
